* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
}
body {
	background-color: #24c6dc;
}
div.container {
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
div.circle {
	width: 130px;
	height: 130px;
	min-width: 20px;
	min-height: 20px;
	border-radius: 10px;
	position: absolute;
	z-index: 0;
	filter: blur(10px);
	background-color: #6be4e6;
	box-shadow: 0px 0px 30px 30px #6be4e6;
}
.left {
	left: 33%;
}
.right {
	left: 58%;
}
.top {
	top: 7%;
}
.bottom {
	top: 73%;
}
div.app {
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	z-index: 2;
	width: 27%;
	max-width: 373.806px;
	min-width: 300.806px;
	height: 500px;
	margin-top: 6%;
	transition: all 0.2s linear;
}
div.app:hover {
	background: rgba(255, 255, 255, 0.2);
}
